// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image {
  width: 390px;
  height: 350px;
  background-image: image-url("computer-screen.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: relative;

}

.login-form-div {
  display: flex;
  margin: 0 auto;
  width: 800px;
  margin-top: 100px;
}

// login form

.login-form {
  background-color: white;
  border: 1px solid lightgrey;
  width: 330px;
  height: auto;
  text-align: center;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 10px;
}

.login-form input {
  margin: 5px;
  background-color: #F7F5F5;
  color: grey;
  border-radius: 3px;
  width: 250px;
  height: 20px;
  padding: 8px;
  border: 1px solid lightgrey;

}

.login-form button {
  background-color: #369AF2;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 3px;
  width: 266px;
  height: 28px;
  border: 1px solid #369AF2;
  margin: 8px;

}

.or-label {
  color: grey;
  margin: 5px;
}

.errors {
  color: red;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}


.sign-up-link {
  border: 1px solid lightgrey;
  background-color: white;
  color: black;
  text-align: center;
  display: inline-block;
  width: 330px;
  margin-top: 10px;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px;

}

a {
  color: #369AF2;
  text-decoration: none;
}

//sigh up container
.signup-div {
  width: 350px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
}

.signup-form-div {
  background-color: white;
  border: 1px solid lightgrey;
  text-align: center;

}


h2{
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  color: darkgrey;
  font-weight: bold;
  // margin-bottom: 15px;
  // line-height: 20px;
  // margin-top: 20px;
}

.signup-form button {
  background-color: #369AF2;
  border: 1px solid #369AF2;
  border-radius: 3px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 266px;
  height: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.signup-form input {
  background-color: #F7F5F5;
  color: grey;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 250px;
  height: 20px;
  padding: 8px;
  margin: 3px;
}

.demo-login button {
  margin-top: 5px;
}

.login-link {
  border: 1px solid lightgrey;
  font-family: sans-serif;
  font-size: 14px;
  width: 330px;
  background-color: white;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
